body, canvas, html {
   
   margin: 0px;
   padding: 0px;
   position: fixed;
  top: 0;
  left: 0;
   vertical-align:0px;
   overflow-x : hidden;
   /*background-image: url('https://samoolean.github.io/Unispourtous/img/space.jpg');*/

}

.topB{

   position : absolute;
   top : 0;
   left : 0;
   z-index: 1;
   
}

nav {

   color:black;
   z-index:2;
   position : relative;
   padding : 4rem 8rem;
   display : flex;
   justify-content:space-between;
   background-color : black ;

}

nav a {

   text-decoration : none;
   color : white ;
   /*font-weight*/

}

nav ul {

   list-style : none;
   display : flex;
   gap :45%;

}

.2B{

   Border-radius:25px;
   color : green;
   margin-top:75%;
   margin-left:50%;
   z-index : 2;

}
