/* version 2.0.0.0 */

body, html {
	
	margin:0px;
	padding:0px;
	vertical-align:0px;
	width: 100%;
	
}

body {
	
	background: linear-gradient(to top, #1b1b1c,  #6e6f70, #d0d2d6);
	background-attachment: fixed;
	
}

/* css for search bar */

/* Main styles */
form#bar {
  position: relative;
  width: 100%;
  background: #fff0;
  /* border-radius: var(--rad); */
}

::-ms-clear { display: none; }

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"], .barbutton {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;

}
input[type="search"] {
  outline: 0; /* <-- shold probably remove this for better accessibility, adding for demo aesthetics for now. */
  width: 100%;
  background: #fff0;
  padding: 0 1.6rem;
  /* border-radius: var(--rad); */
  appearance: none; /*for iOS input[type="search"] roundedness issue. border-radius alone doesn't work*/
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.barbutton {
	
  display: var(--switch); /* prevent being able to tab to it */
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  /* border-radius: 0 var(--rad) var(--rad) 0; */
  
}

input[type="search"]:not(:placeholder-shown) {
  /* border-radius: var(--rad) 0 0 var(--rad); */
  width: calc(100% - var(--btn-width));
  transition: all var(--dur) var(--bez);
  background: var(--color-light);

}


label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* end css search bar */

.bigt {
	
	color: var(--color-brand);
	font-family : var(--font-fam);
	margin-top: 3% ;
	margin-bottom: 5% ;
	position:relative;
	text-align:center;
	z-index : 3 ;
    font-size: 1550%;
	
}

.B2 {
	
	background-color : var(--color-brand);
	color : black ;
	font-family : var(--font-fam);
	border : 0;
	padding : 15px;
	border-radius : 25px;
	height: 50px;
	width: 300px;
	font-size: 1.5em;
	
}

canvas {

	position: absolute;
	top: 0px;
	left: 0px;
	z-index : 2 ;
	height: 100%;
	width: 100%;
}
