/* version 1.2.1.2*/

body, canvas, html {
   
   margin: 0px;
   padding: 0px;
   top: 0;
   left: 0;
   vertical-align:0px;
   overflow-x : hidden;
   /*background-image: url('https://samoolean.github.io/Unispourtous/img/space.jpg');*/

}

canvas {
   
   position: fixed;

}

.topB{

   position : absolute;
   top : 0;
   left : 0;
   z-index: -1;
   
}

.topbar {
   
   /*overflow: hidden;*/
   
   width : 100%;
   display : flex;
   justify-content:center;
   background-color : black ;

}

.dmain{

   z-index:2;
   position : relative;

}

.topbar a {

   text-decoration : none;
   color : white ;
   /*font-weight*/

}

.sbar{

   border-radius : 25px;
   margin : 10px;

}

.B2{

   Border-radius:25px;
   background-color : #32a852;
   margin-top:50%;
   margin-left:50%;
   z-index : 2;
   padding :10px;
   position : relative;

}

.B1{

   Border-radius:25px;
   background-color : white;
   z-index : 2;
   padding :10px;
   margin-left : 50px;

}

img {
width : 50px;
height : 50px;
}
