html, body {
  height: 100%;
  overflow: hidden;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #20c9aa, #20c98f, #4fa4c3);
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 150px 0 60px 0;
  text-transform: uppercase;
}

.form-container {
  padding: 0 15px;
}

form, fieldset {
  margin: 0;
  padding: 0;
}

form {
  fieldset {
    border: none;
    text-align: center;
    legend {
      display: none;
    }
    
    span {
      position: relative;
      &:after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        //border-bottom: 2px solid rgba(255, 255, 255, .8);
        width: 100%;
        height: 100%;
        transform: scale3d(0,0,0);
        transform-origin: center;
      }
      &:hover:after, &:focus:after {
        transform: scale3d(1,1,1); // Show full-size
        transition: transform 0.5s;
      }
    }
    
    input {
      display: inline-block;
      width: 100%;
      height: 40px;
      padding: 0 0 0 10px;
      
      background-color: rgba(255, 255, 255, .4);
      border: none;
      outline: none;
 
    }
  
    button {
      display: inline-block;
      @media screen and(min-width: 800px){
        display: inline-block;
        width: auto;
        margin: 25px 0 0 5px;
      }
      height: 40px;
      margin: 30px auto 0 auto;
      padding: 0 30px;
      text-transform: uppercase;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      &:hover {
        background-color: rgba(225, 225, 225, .4);
        cursor: pointer;
      }
    }
  } 
}
